@media screen and (max-width: 900px) {
    .produtos {
     display: flex;
     flex-wrap: wrap;
    }
 }
 
 * {
     margin: 0;
     border: 0;
 }
 
 body {
    font-family: Arial, sans-serif;
    background-image: url('./src/tela\ de\ fundo.jpg'); /* Substitua 'background.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.mission {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente preto */
    padding: 20px;
    border-radius: 10px;
}
h1 {
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.highlight {
    font-weight: bold;
    color: #ea682c;
}

a {
    padding: 2%;
    text-decoration: none;
    color:aliceblue;
}

a:hover {
    color: black;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #c1652c;
    height: 30%;
}

.logo img {
    border-radius: 30%;
    width: 200px;
    height: 200px;    
}

#products {
    background-color: rgb(0, 0, 0);
}

.anchors  {
   display: flex;
   justify-content:flex-start;    
}